$gray: rgba(44, 46, 63, 0.7);
$background-gray: rgba(44, 46, 63, 0.6);
$dark-gray: #2C2E3F;
$light-blue: rgba(44,46,63, 0.3);
$white: #FFFFFF;
$coral: #FE7865;
$black: #141517;
$black-transparent: rgba(20,21,23, 0.5);
$background-light-blue: #ABD1DA;
$light-coral: #F17D4B;
$shadow-color: rgba(41, 54, 66, 0.1);
$extra-light-coral: #FBF8F8;
$placeholder-color: #48494D;
$input-border-color: #D7D9DF;

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-special: 1290px